/* ♥*♡∞:｡.｡｡･ﾟﾟ･.・゜゜・✧･ﾟ: *✧･ﾟ:* *:･ﾟ✧*:･ﾟ✧・゜゜・．･ﾟﾟ･｡｡.｡:∞♡*♥

Name: main.js
By: Nicole White January 2019
Purpose: Javascript for Harvest Moon Trailway Leaflet web map.

♥*♡∞:｡.｡｡･ﾟﾟ･.・゜゜・✧･ﾟ: *✧･ﾟ:* *:･ﾟ✧*:･ﾟ✧・゜゜・．･ﾟﾟ･｡｡.｡:∞♡*♥ */


/* Make sure Arial never happens */
* {
  font-family: 'Montserrat', sans-serif;
}

/* Header text */
h1 {
  color: #fff;
}

body {
  background-color: #212222;
}

#map { height: 650px;
        position: relative; }

.navbar-dark {
  background-color: rgba(0,41.6,23.1,.85);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

.jumbotron {
  background-color: rgba(0,41.6,23.1,.1);
}

.navbar-dark .navbar-nav .active .nav-link {
  color: #fff233;
  text-shadow: 2px 2px 3px #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
  text-shadow: 2px 2px 3px #000;
}

.navbar-dark .navbar-brand {
  color: #e65514;
  font-weight: 900;
  font-size: 2rem;
  text-shadow: 2px 2px 2px #000;
}

/* Slide menu */
.leaflet-menu{
  background-color: rgba(246,248,247,.7);
  border: 5px solid rgba(0,41.6,23.1,1);
  padding: 15px;
  position: absolute;
  width: 300px;
  z-index: 5000;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
  border-radius: 4px;
}

/* HMT logo */
#logo {
   position:absolute;z-index:10; top:2px;right:2px;
}

/* Scale bar */
.leaflet-bar a, .leaflet-bar a:hover{
  background-color: #fff233;
  border-bottom: 1px solid #000;
}

/* Control items (zoom, scalebar) are yellow */
.leaflet-control  {
  background-color: #fff233;
}

.leaflet-menu-close-button {
  background-color: #fff233;
}
.body-text {
  color: #fff;
  background-color: rgba(0,41.6,23.1,1);
  border-radius: 14px;
  padding: 12px;
}

/* Circle marker (trail heads) */
.circle {
  background: rgba(0, 0, 0, .5); /* color of the circle */
  border-radius: 50%; /* make the div a circular shape */
  box-shadow: 4px 4px 3px grey; /* see http://www.w3schools.com/css/css3_shadows.asp */
  -moz-box-shadow: 4px 4px 3px grey;
  -webkit-box-shadow: 4px 4px 3px grey;
}

/* minimap */
.leaflet-control-minimap {
    border: rgba(0, 0, 0, 1) solid;
    border-radius: 3px;
    background: #f8f8f9;
    transition: all .6s
}

/* Text labels (towns) */
.labelClass{
line-height: 9pt;
color: #272727;
font-weight: 600;
-webkit-text-fill-color: #272727; /* Will override color (regardless of order) */
-webkit-text-stroke-width: 0.2px;
-webkit-text-stroke-color: white;
}

/* The Modal (background) */
.moda {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.moda-content {
  background-color: #fff999;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 8px;
  width: 50%;
  height: 70%;
  overflow: auto; /* Enable scroll if needed */

}

/* The Close Button of the modal */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/* inline-block allows lower navbar items to be centered */
.fa-icons {
  font-size: 38px;
  display: inline-block;
}

.icon-padding {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
}

.fixed-bottom {
  display: inline-block;
}
